*.a
*.bundle
*.gem
*.o
*.rbc
*.so
.bundle
.config
.sass-cache
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
mkmf.log
node_modules/
npm-debug.log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
