<dl>
<dt>Usage</dt>
<dd>You can add webhook URL to your team in esa.io.
<br/>See <a href='https://docs.esa.io/posts/10' target='_blank'><i class='fa fa-external-link'></i>the help documentation by the esa team</a> for more details(only available in Japanese).</dd></dl>