<dl>
<dt>Usage</dt>
<dd>
<p>You can add webhook URL to your team in kibela.
<br/>See <a href='https://intercom.help/kibela/api-document/english/outgoing-webhook' target='_blank'><i class='fa fa-external-link'></i>the help documentation by the kibela</a> for more details.</p></dd></dl>
<p>If you wouldn't like to show the full text, append <code>hide_body</code> parameter as below.</p>
<pre>{{endpoint}}?hide_body=true</pre>