%dl
  %dt Setup
  %dd
    %p Set Endpoint URL to your Coveralls: Repos -&gt; YOUR PROJECT -&gt; NOTIFICATIONS -&gt; WEBHOOK CONFIGURE.
    %p See <a href='https://coveralls.zendesk.com/hc/en-us/articles/201774895-Notifications' target='_blank'><i class='fa fa-external-link'></i>NOTIFICATIONS</a> for more details.
