<dl>
<dt>Setup</dt>
<dd>
<pre>$ heroku addons:create deployhooks:http --url={{endpoint}}</pre>
<p>See <a href='https://devcenter.heroku.com/articles/deploy-hooks#http-post-hook' target='_blank'><i class='fa fa-external-link'></i> Deploy Hooks | Heroku Dev Center</a> for more details.</p></dd></dl>