%dl
  %dt Setup
  %dd
    %p Set Endpoint URL to your DocBase: YOUR TEAM -&gt; Settings -&gt; Link Services -&gt; Webhook.
    %p See <a href='https://help.docbase.io/posts/78643' target='_blank'><i class='fa fa-external-link'></i>Webhooks</a> for more details(only available in Japanese).
