%p
  Please go through the following steps to set up your service:<br />
  %a{href: 'http://help.papertrailapp.com/kb/how-it-works/web-hooks', target: '_blank'}
    %i.fa.fa-external-link
    Web hooks / How It Works / Knowledge Base - Papertrail Support
  (in <q>Setup</q> section)
