<dl>
<dt>Usage</dt>
<dd>
<p>You have to make over 10 webhook url forms on Vein to set an Idobata url. The form may be empty.</p>
<p>If you don't, you will not be able to set an idobata url due to a client-side validation error.</p>
<p>See
<a href="https://github.com/idobata/idobata-hooks/pull/95#issuecomment-462228986" target="_blank">
<i class="fa fa-external-link"></i>the comment in Github</a></p></dd></dl>