%dl
  %dt Setup
  %dd
    %ol
      %li
        Create new SNS Topic:
        %a{href: 'https://console.aws.amazon.com/sns/v2/home#/topics', target: '_blank'}
          %i.fa.fa-external-link AWS SNS
      %li Add Subscription to the created Topic
      %li Confirm Subscription from received message at Idobata
      %li Set the created Topic to notification options of your CloudFormation Stack
