%dl
  %dt Setup
  %dd
    %p Set Endpoint URL to your Airbrake project: Project Settings -&gt; Integrations -&gt; Webhook.
    %p See <a href='https://help.airbrake.io/kb/integrations/webhooks' target='_blank'><i class='fa fa-external-link'></i>Webhooks / Integrations / Knowledge Base - Airbrake Support</a> for more details.
