%dl
  %dt Setup
  %dd
    %p Edit your <code>circle.yml</code> as follows:

    %pre
      :preserve
        notify:
          webhooks:
            - url: {{endpoint}}

    %p See <a href='https://circleci.com/docs/configuration#notify' target='_blank'><i class='fa.fa-external-link'></i>Configuring CircleCI - CircleCI</a> for more details.
