<p>Please go through the following steps to set up your service:<br />
<a href="https://www.pivotaltracker.com/help/integrations#activity_web_hook" target="_blank">
<i class="fa fa-external-link"></i>Pivotal Tracker: Integrations</a></p>