<dl>
<dt>Usage</dt>
<dd>You can add webhook URL to your board.
<p>Unfortunately there is no easy way to add webhook. You can read <a href='https://trello.com/docs/gettingstarted/webhooks.html' target='_blank'><i class='fa fa-external-link'></i> Webhooks</a> on Trello Docs to add webhook by yourself.</p>
<p>For your convenience, you can visit <a href='https://eitoball.github.io/add_webhook_to_trello_board/' target='_blank'><i class='fa fa-external-link'></i> Add webhook to Trello</a> to add webhook.</p></dd></dl>