.pivotal-attachments
  margin-left: 0

  li
    display: inline-block
    min-height: 72px
    background-color: #fefefe

    .extname
      line-height: 50px
      font-size: 1.2em
      text-transform: uppercase
      text-align: center
      font-weight: bold

    .filename
      font-size: 0.9em
