:ruby
  repository = payload.repository
  actor      = payload.actor
  comment    = payload.comment

%p
  %span
    = avatar_image_tag(actor.links.avatar.href)

  %a{href: actor.links.html.href}
    = actor.display_name
  created commit comment to
  %a{href: comment.links.html.href}
    #{comment.id}

= md comment.content.html
