= link_to_member(payload.action.memberCreator)
moved
= payload.action.data.list.name
to
= link_to_board_or_name(payload.action.data.boardTarget)
from
= link_to_board_or_name(payload.action.data.board)
