<dl>
<dt>Setup</dt>
<dd>
<ol>
<li>Install <a href='https://wiki.jenkins-ci.org/display/JENKINS/Notification+Plugin' target='_blank'><i class='fa fa-external-link'></i>Notification Plugin</a> to your Jenkins.</li>
<li>
<p>Add notification endpoint as below:</p>
<table class="table">
<tr>
<th>Format</th>
<td>JSON</td></tr>
<tr>
<th>Protocol</th>
<td>HTTP</td></tr>
<tr>
<th>URL</th>
<td>{{endpoint}}</td></tr></table></li></ol></dd></dl>