<dl>
<dt>Usage</dt>
<dd>
<p>You can add webhook URL to your team in backlog.
<br/>See <a href='http://www.backlog.jp/help/adminsguide/webhook-setting/userguide2493.html' target='_blank'><i class='fa fa-external-link'></i>Webhook | Backlog</a> for more details.
<br/>Support the events of issue for now.</p>
<p>Please append <code>space_id</code> parameter as below.</p>
<pre>{{endpoint}}?space_id=<code>hogehoge</code></pre></dd></dl>