<dl>
<dt>Setup</dt>
<dd>
<p>Edit your <code>circle.yml</code> as follows:</p>
<pre>notify:
  webhooks:
    - url: {{endpoint}}
</pre>
<p>See <a href='https://circleci.com/docs/configuration#notify' target='_blank'><i class='fa.fa-external-link'></i>Configuring CircleCI - CircleCI</a> for more details.</p></dd></dl>