<dl>
<dt>Setup</dt>
<dd>
<ol>
<li>Create new SNS Topic:
<a href="https://console.aws.amazon.com/sns/v2/home#/topics" target="_blank">
<i class="fa fa-external-link">AWS SNS</i></a></li>
<li>Add Subscription to the created Topic</li>
<li>Confirm Subscription from received message at Idobata</li>
<li>Set the created Topic to notification options of your CloudFormation Stack</li></ol></dd></dl>