<dl>
<dt>Setup</dt></dl>
<dl>
<dt>Usage</dt>
<dd>Setup a Mackerel WebHook
<br/>See <a href='http://help-ja.mackerel.io/entry/howto/alerts' target='_blank'><i class='fa fa-external-link'></i> Mackerel Help</a> for more details.</dd></dl>