%p
  %span= avatar_image_tag(payload.comment.user.profile_image_url)
  %a{href: user_url(payload.comment.url, payload.comment.user.url_name)}= payload.comment.user.url_name

  - if payload.action == 'created'
    posted
    %a{href: payload.comment.url} comment
  - else
    updated
    %a{href: payload.comment.url} comment

- if payload.action == 'created'
  = fixup_qiita_html payload.comment.body
