%dl
  %dt Usage
  %dd
    You have to make over 10 webhook url forms on Vein to set an Idobata url. The form may be empty.
    If you don't, you can not set an idobata url due to a validation error.
    See https://github.com/idobata/idobata-hooks/pull/95#issuecomment-462228986
