%dl
  %dt Usage
  %dd
    %p
      See <a href='https://confluence.atlassian.com/display/BITBUCKET/Manage+Bitbucket+hooks' target='_blank'><i class='fa fa-external-link'></i>Manage Bitbucket hooks | Bitbucket</a>.
