:ruby
  body = payload.alert

%div
  %b= body.short_description
  %span.label.label-danger= body.severity.titleize

%div
  = body.message

  = surround '(', ')' do
    %a{href: body.alert_url} detail
