:ruby
  body = payload.deployment

%div
  %b #{body.application_name} was deployed by #{body.deployed_by}

%div
  = body.description

  = surround '(', ')' do
    %a{href: body.deployment_url} detail
